/* RESET RULES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

/* LAYOUT */

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* MAIN */

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex-shrink: none;
  width: 230px;
}

.main-content {
  flex-grow: 1;
}

/* RESPONSIVENESS */

@media (max-width: 552px) {
  .sidebar {
    width: 50px;
  }
}

/* DEBUG RULES */

.main.debug {
  border: 1px solid green;
  background-color: rgb(169, 233, 169);
}

.player.debug {
  min-height: 100px;
  border: 1px solid rgb(248, 60, 230);
  background-color: rgb(232, 169, 233);
}

.main.debug .sidebar {
  border: 2px solid rgb(255, 94, 0);
}

.main.debug .main-content {
  border: 2px solid rgb(255, 234, 0);
}
